body {
    background-color: #341256;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    background-color: #96D4D4;
}

img {
    width: 400px;
}


